/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-mar-2019, 22:54:29
    Author     : José R
*/

.wrapper {
    font-size: 2em;
}
.container {
    margin-top: 10vh;
}